{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bienvenue M. {{ name }}, vous êtes un : {{ role }} ! AS
</h1>


<div class="buttons" style="width:800px; margin:0 auto;">
  <button class="button is-primary is-rounded" href="{{ url_for('main.passwordchange') }}" >Modifier le mot de passe</button>
  <button class="button is-link is-rounded">Scan de ports</button>
  <button class="button is-info is-rounded">FTP</button>
  <button class="button is-success is-rounded">Gestion des Users</button>
  <button class="button is-danger is-rounded">Bruteforce</button>
  <button class="button is-rounded">Activité du réseaux</button>
</div>
{% endblock %}