{% extends "base.html" %}

{% block content %}


<h1 class="title">
    Transfert de fichiers
  </h1>



<div class="box">
    Envoi de fichiers
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

    

</div>

<div class="box">

    Liste des fichiers
    <div class="content">
        <ol type="1">
        {% for f in file %}
            <a href="/srv/Python-NetWay/project/ftp/{{f}}" download>
            <li> {{f}} </li>
            </a>
        {% endfor %}
        </ol>
    </div>
</div>

<div class="box">

    Supressions

    <form method="POST" action="/ftp">
        <div class="select is-danger">
          <select name="suppr">
          {% for f in file %}
          <option> {{ f] }} </option>
          {% endfor %}
          </select>
        </div>
        
        <div class="buttons">
          <button class="button is-danger">Supprimer</button>
        
        </div>
        
        </form>


</div>


{% endblock %}