{% extends "base.html" %}

{% block content %}


<h1 class="title">
    Transfert de fichiers
  </h1>



<div class="box">
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
     
    <div class="file is-centered is-success has-name">
        <label class="file-label">
          <input class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-label">
              Envoyer
            </span>
          </span>
        </label>
      </div>
    </form>
      Envoi de fichiers
    

</div>

<div class="box">

    Liste des fichiers


</div>

<div class="box">

    Téléchargements


</div>


{% endblock %}