{% extends "base.html" %}

{% block content %}


<h1 class="title">
    Transfert de fichiers
  </h1>



<div class="box">
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
      Envoi de fichiers
    

</div>

<div class="box">

    Liste des fichiers
    <div class="content">
        <ol type="1">
        {% for f in file %}
            <li>f</li>
        {% endfor %}
    </div>
</div>

<div class="box">

    Téléchargements


</div>


{% endblock %}