{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Gestion des utilisateurs
  </h1>

<table class="table is-bordered">
    <thead>
      <tr>
        <th><abbr title="id">ID</abbr></th>
        <th><abbr title="nom">Nom</abbr></th>
        <th><abbr title="email">E-mail</abbr></th>
        <th><abbr title="role">Role</abbr></th>
      </tr>


       {% for (row1,row2,row3,row4) in ids,nom,mail,role %}
             <tr>
                 <td> {{ row1}} </td>
                 <td> {{ row2}} </td>
                 <td> {{ row3}} </td>
                 <td> {{ row4}} </td>    
            
            
            </tr>
         {% endfor %}

<!--         {% for row in nom %}
         <tr><td>{{ row }}</td></tr>
        {% endfor %}

        {% for row in mail %}
        <tr><td>{{ row }}</td></tr>
        {% endfor %}

        {% for row in role %}
        <tr><td>{{ row }}</td></tr>
        {% endfor %}

 -->
 
    </thead>
</table>





{% endblock %}