{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Modifier votre mot de passe
</h1>

<div class="field">
    <p class="control has-icons-left">
      <input class="input is-normal" type="password" placeholder="Ancien mot de passe">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

<div class="field">
    <p class="control has-icons-left">
      <input class="input is-normal" type="password" placeholder="Nouveau mot de passe">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
 </div>


<div class="field">
    <p class="control has-icons-left">
      <input class="input is-normal" type="password" placeholder="Confirmer le mot de passe">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
 </div> 


 <div class="buttons">
  <button class="button is-danger">Modifier</button>
</div>

{% endblock %}